PORT=8019
JSON_LIMIT=50mb
URL_LIMIT=50mb
FILE_UPLOAD_LIMIT=100mb

# Frontend Configuration
FRONTEND_URL=

# CORS Configuration
CORS_ORIGINS="*"

# External API Configuration
EXTERNAL_API_BASE_URL=
EXTERNAL_API_MASTER_PASSWORD=
CONTRACT_SERVICE_URL=

USER_MANAGEMENT_SERVICE_API_URL=
VITE_API_BASE_URL=

# Server config
USE_EMULATOR=false

# Vite build-time variables
VITE_API_BASE_URL=

NEGOTIATION_BASE_URL=

# Server config
VITE_USE_EMULATOR=false

DB_CONN_STRING=""
DB_NAME=""

KEYCLOAK_URL = 
KEYCLOAK_REALM = 
KEYCLOAK_CLIENT_ID = consent-manager

MONGO_USER=
MONGO_PASSWORD=
MONGO_HOST=
MONGO_PORT=27018
MASTER_PASSWORD=
DB_NAME=
SECRET_KEY=

RESEND_API_KEY=

EMAIL_LINK_SECRET=
